<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:ital,wght@0,200;1,200&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <style>
        form{
            display: flex;
            flex-direction: column;
        }
        input{
            max-width: 200px;
            margin-bottom:10px;
        }
        .welcomeSign{
            background-color: #008008;
            padding:0.5rem;
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .logoutButton{
            width:130px;
            height: 50px;
            background-color: #2A2A72;
            z-index: 3;
            padding:10px;
            cursor:pointer;
        }

    </style>
</head>
<body >
    <div class = "form-products">
            <% if(true){ %>
                <div class = "welcomeSign">
                    <h1>Bienvenido <%= nombre %></h1>
                    <form action="/logout" method="get">
                        <button class = "logoutButton" type="submit" name="logout" value="logout">Desloguarse</button>
                    </form>
                </div>
              <% } else{ %>  
                <h1>bar</h1>
             <% } %>
    <h1>Ingrese su producto</h1>
        <label for="price">Price:</label>
        <input id="price" type="text" name="price">
        <label for="title">Title:</label>
        <input id="title" type="text" name="title">
        <label for="thumbnail" >Thumbnail:</label>
        <input id="thumbnail" type="text" name = "thumbnail">
        <button  id = "submitProduct">Submit</button>
    </body>
    </br>
    <a href = "http://localhost:8080/api/products"><h3>Ver productos</h3></a> 
    <!-- Como puedo hacer para no poner la direccion absoluta? -->
    </div>
    
</body>
<script src="/socket.io/socket.io.js"></script>
<script src = "/products.js"></script>
<script src = "/userForm.js"></script>
</html> 