<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:ital,wght@0,200;1,200&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <style>
        form{
            display: flex;
            flex-direction: column;
        }
        input{
            max-width: 200px;
            margin-bottom:10px;
        }
        .welcomeSign{
            background-color: #008008;
            padding:0.5rem;
        }

    </style>
</head>
<body >
    <div class = "form-products">
        <form action = "/login">
            <h1>Ingrese su nombre</h1></br>
            <div>
                <input placeholder=" Nombre " name = "name" id = "userName">
            </div>
            <button id = "submitUser">Loguearse</button>
        </form>
    </div>
    
</body>
<script src="/socket.io/socket.io.js"></script>
<script src = "/products.js"></script>
<script src = "/userForm.js"></script>
</html> 